
<div class="border border-3 border-primary container rounded">
  <div class="my-3 text-center">
    <h2 class><%= @recipe.name%></h2>
  </div>
  <div>
    <div class="split">
      <div class="d-flex justify-content-between p-2">
        <h5> Preparation time: <%= @recipe.preparationTime %> min </h5>
        <div class="public-btn">
        <% if @recipe.public %>
          Public: <input type="checkbox" checked="true" class="mx-4" >
        <% end %>
        <% if !@recipe.public %>
          Public: <input type="checkbox" class="mx-4" >
        <% end %>
      </div>
      </div>
    </div>
    <div>
      <h5 class="p-2"> Cooking time: <%= @recipe.preparationTime %> min </h5>
      <h5 class="p-2"> Steps go here...</h5>
    </div>
    <div class="d-flex justify-content-around">
     <% if user_signed_in? %>
    <div>
      <%= link_to "Generate Shopping list",  recipe_shopping_lists_path(@recipe.id), :class => "btn btn-primary" %>
      <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe) , class: "btn btn-primary btn-floating"%>
    </div>
    <% end %>
    </div>
  </div>
</div>
<table class="table container rounded">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @recipe.recipe_foods.each do |food| %>
    <tr>
      <th scope="row"><%= food.food.name %></th>
      <td><%= food.quantity %></td>
      <td><%= food.food.Price * food.quantity %></td>
      <td>
        <% if can? :destroy, @recipe %>
  
        <%=button_to "Delete", recipe_recipe_food_path(recipe_id: @recipe.id, id: food.id), method: :delete, class:"btn btn-outline-blue"%>
        <%=link_to "Modify", edit_recipe_recipe_food_path(recipe_id: @recipe.id, id: food.id), class:"btn btn-outline-blue"%>
      <%end%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>