<h4>Add Food</h4>
<%= form_with model: @food do |form| %>
<div class="mb-3">
  <%= form.label :name, class:'form-label' %><br />
  <%= form.text_field :name, class:'form-control' %>
</div>

<div class="mb-3">
  <%= form.label :measurement_unit, class:'form-label' %><br />
  <%= form.text_field :measurement_unit, class:'form-control' %>
</div>

<div class="mb-3">
  <%= form.label :price, class:'form-label' %><br />
  <%= form.number_field :price, class:'form-control' %>
</div>

<div class="actions mb-5"><%= form.submit "Add", class:'btn btn-dark' %></div>

<% end %>
